<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itmuch.cententcenter.mapper.RocketmqTransactionLogMapper">
    <insert id="insertMy">
        insert into rocketmq_transaction_log(transaction_ID,log) values (#{transactionID},#{log})

    </insert>

    <select id="selectBytransactionID" resultType="RocketmqTransactionLog">
        select * from rocketmq_transaction_log where id=#{id}
    </select>
</mapper>
